<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>WebserviceDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0BE12FF31CD84E5D005517BD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0BE1300C1CD84E5D005517BD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0BE130171CD84E5D005517BD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
