<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>singleview.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>2BA8C0AE1CE578980034D889</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2BA8C0CA1CE578980034D889</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2BA8C0D51CE578980034D889</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
