<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>LoginForm.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>AEFE41121D59B52000FAAD04</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AEFE412B1D59B52000FAAD04</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AEFE41361D59B52000FAAD04</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
